.apiCards{
  background-color: white;
}

.apiCards:hover{
transform: scale(1.04);
    box-shadow: 0px 25px 35px 0px rgba(0,0,0.5,0.8);
}

.icons a {
    padding: 8px;
}
.flag-select img{
    width: 25px;
    height: 15px;
}
.flag-select{
    text-align: center;
}
.flag-option{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3px ;
    width: 48px;
    height: 30px;
    border-bottom: 3px dotted black;
}
.flag-options{
    border: 1px black solid;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 15px;
  color: black;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body,html{
  background: linear-gradient(
          to bottom right,
          #b0bec5 0%,
          #b0bec5 35%,
          whitesmoke 85%,
          whitesmoke 100%
  );
    /*top:8%;*/
    /*bottom: 17%;*/
    width: 100%;
}


.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
  transition: .3s transform ;
}

.card-header:hover{
  transform: scale(1.05);
  filter: brightness(133%);
}

.card-header{
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.dashboard{
    margin-bottom: 11%;
    z-index: -1;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: lightslategrey;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
    width: 200px;
  margin-right: 5px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.teamItem{
    background-color: antiquewhite;
}

.footer {
  position: fixed;
  right:0;
  left:0;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: antiquewhite;
  text-align: center;
  border-top: 3px solid seagreen;
    z-index: 1;
}

.logo:hover{
  transform: scale(1.1);
  border-radius: 5px;
  filter: brightness(133%);
}

.logos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
  border: 3px solid black;
  margin-bottom: 10px;
  width:55px;
  height:65px;

}

.corner_button{
  display: block;
  position: absolute;
  top:0;
  right: 0;
  border-radius: 10px;
  border: 2px solid cadetblue;
}

.btn-space {
  margin-right: 15px;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em;
}


#sideBarIcons{
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}

.main-menu:hover,nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}

.main-menu {
  background:#5bc0de;
  border:2px solid black;
  position: fixed;
  bottom:18%;
  height:65%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  border-radius: 5px 20px 5px 20px;
  opacity: 0.9;
}

.main-menu>ul {
  margin:20px 0;
}

.main-menu li {
  position: center;
  display:block;
  width:250px;
}

.main-menu:hover .logos{
  display: block;
  transform: scale(1.5);

}


.main-menu:hover .PROFILE_LEAD{
  display: block;

}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:black;
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;


}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;

}

.main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
}

p{
  font-weight: bold;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#5fa2db;
  border-right: 2px solid black;
  text-align: center;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

button{
  width: 150px;
  height: 35px;
}

.demo-icon{
text-underline-style: none
}

.apicenterboard{

    margin-left: 70px;
    margin-right: 70px;
    background-image: linear-gradient(to right, lightslategrey 0%, #92fe9d 100%);
    border-right: 3px solid seagreen;
    border-left: 3px solid seagreen;
    border-bottom: 2px solid seagreen;
    border-top: 1px solid seagreen;
}

.teamboard{
  margin-left: 70px;
  margin-right: 70px;
    filter: brightness(115%);
    background-image: linear-gradient(to right, lightslategrey 0%, #92fe9d 100%);
  border-right: 3px solid seagreen;
  border-left: 3px solid seagreen;
  padding: 0 15px 0 15px;
    border-bottom: 2px solid seagreen;
}

.disabl{
  color: dimgrey;
  text-decoration: line-through;
  -webkit-filter: grayscale(65%);
}

form{
  margin-top: 60px;
}

.modifyTeam{
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  color: #5fa2db;
}

.cityResult{
  width: 100%;
  text-align: center;
  font-size: 42px;
  font-family: 'Permanent Marker', cursive;
  color: #007bff ;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cityApiResult{
  width: 100%;
  font-size: 159px;
  text-align: center;
  color: wheat ;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.searchCity{
  text-align: center;
  margin-left: 5%;
  width: 150px;
  height: 25px;
}

.container2{
  width: 800px;
  margin: auto;
  padding-bottom: 12%;
  position: relative;

  /*width: 50%;*/
}
.card-header{
  width: 190px;
  border: 1px dotted seagreen;
  border-radius:55px;
}

#accordion{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 1rem;

  background-image: linear-gradient(to right, lightslategrey 0%, #92fe9d 100%);
  border: 5px solid seagreen;
  border-radius: 25px;
  width:100%;
  margin-bottom: 25%;

}

.card-body{
  position: relative;
}


.cards{
  width:100%;
  background-color: #5bc0de;
  border-radius:10px;
  border: 2px solid seagreen;
}


.all{
  width: 120px;
  margin: 10px;
}

.all2{
  width: 300px;
  margin: 5px;
}

.all3{
  width: 135px;
  margin: 10px;
}

.nameOfType{
  color: black ;
  font-size: 18px;
  font-family: 'Francois One', sans-serif;
  border-bottom: 1px solid black;
}

li{
  list-style-type: none;
}

.carousel-indicators{
}



.carousel{
  width: 95%;
  background-color: darkgrey;
  border-radius: 8px;
  padding: 210px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto
}



.teamMenu{
  text-align: center;
  list-style-type: none;
  white-space: nowrap;
}



.border-3{
  border-right: 5px solid seagreen;
}

.border-1{
  border: 1px dashed seagreen;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header{
  background-color: white;
  border-bottom: 3px solid seagreen;
  padding: 8px;
  position:relative;
  min-height: 12%;
  max-height: 15%;

}

.row{
  height: auto;
  margin: 5px;
}

.teamInfo{
  width: 85%;
  height: 40px;
  margin-top: 5px;
  bottom: 5px;
  position: absolute;
}
.modal-backdrop {
  z-index: -1;
}
.nameOfTeam{
  white-space: pre-wrap;
    font-family: 'Francois One', sans-serif;
    color: black ;
    font-size: 16px;
  padding: 1px;
  border-bottom: 1px solid black;
}
.view{
    width: 85px;
    height: 25px;
    margin-left: 27px;
    margin-right: 3px;

}

.delete{
    margin-right: 3px;
    margin-left: 12px;

    width: 85px;
    height: 25px;
}


.exit{
  width: 100%;

}
.info{
  width: 80px;
}

.TEAM_LEAD{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: #007bff ;
  font-size: 55px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.PROFILE_LEAD{
  margin-top: 20px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: goldenrod ;
  font-size: 35px;
  display: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dropbtn {
  background-color: #0275d8 ;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: auto;
  height: 75px;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: lightsalmon;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  border: 8px ridge salmon;
}

.eventer{
  font-size: 16px;
  font-weight: bold;
  color:black;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #5bc0de;
  color:blue;
  text-decoration: none;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #5bc0de;
}

.list-group-item{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.list-group{
  margin: 5px;
  border: 1px dotted seagreen;
}

.clock{
  font-size: 22px;
  color: black;
  font-weight: bold;
  font-family: 'Share Tech Mono', monospace;
  position: sticky;
  transform: translate(-50%, -25%);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  border-top: 3px dotted;
  border-bottom: 3px dotted;
  margin-right:35px ;
  margin-left:35px ;
  top: 8%;
}

.clockAuth{
  font-size: 22px;
  color: black;
  font-weight: bold;
  font-family: 'Share Tech Mono', monospace;
  position: sticky;
  transform: translate(-15%, -25%);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  border-top: 3px dotted;
  border-bottom: 3px dotted;
    margin-right: 3px;
    margin-left: 50px;
  top: 7%;
}

.eventboard{
    margin-left: 70px;
    margin-right: 70px;
    filter: brightness(115%);
    background-image: linear-gradient(to right, lightslategrey 0%, #92fe9d 100%);
    border-right: 3px solid seagreen;
    border-left: 3px solid seagreen;
    border-bottom: 2px solid seagreen;
    padding: 0 15px 0 15px;
}
.top-buffer {
  margin-top: 30px;
  margin-left: 40px;
}


#signUp{
  padding: 6px 40px 1px 40px;
  border: 2px solid black;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  background-color: lightskyblue;
  position: sticky;
  right: 22%;
  top: 2%;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;

}
#login{
  padding: 6px 40px 1px 45px;
  border: 2px solid black;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: lightskyblue;
  position: sticky;
  right: 3%;
  top: 2%;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}

#login:hover{
  filter: brightness(85%);
}

#signUp:hover{
  filter: brightness(85%);
}

#loginIcon{
  text-align: center;
  vertical-align: middle;

}

#back{
  padding: auto;
  border: 2px solid black;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  background-color: red;
    color:black;
  position: sticky;
  right: 3%;
  top: 2%;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  text-align: center;
}

#back:hover{
  filter: brightness(80%);
}

#dashButton{
  padding: 6px 20px 5px 45px;
  border: 2px solid black;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: lightskyblue;
  position: sticky;
  right: 3%;
  top: 2%;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}

#logout{
   padding: 6px 40px 6px 40px;
   border: 2px solid black;
   width: 160px;
   height: 40px;
   border-radius: 20px;
   background-color: lightskyblue;
   position: sticky;
   right: 3%;
   top: 2%;
   display: inline-block;
   font-size: 16px;
   margin: auto;
 }

#logout:hover{
  filter: brightness(85%);
}

<!--

.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}


.contact{
  margin-top: 100px;
  padding: 4%;
  height: 650px;
}
.col-md-3{
  background: #ff9b00;
  padding: 5%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 5%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}


/*gallow*/
#pojemnik{
    width: 810px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkseagreen;

  }

#plansza{
  width:700px;
  margin:50px;
  text-align: center;
  font-size: 48px;
  min-height: 60px;
}

#szubienica{
  float:left;
  width:450px;
  text-align: center;
  min-height: 280px;
}

#alfabet{
  float: left;
  width: 270px;
  text-align: center;
  min-height: 280px;
  background-color: darkseagreen;
}

.litera{
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid gray;
  float:left;
  cursor: pointer;
  border-radius: 15px;
}

.litera:hover{
  background-color: #222222;
  color: white;
  border: 3px solid white;
}

.reset{
  color:green;
  cursor:pointer;
  font-size: 48px;
}

.reset:hover{
  color: white;
}

/*memory*/


a:link{color:#209781; text-decoration: none;}
a:visited{color:#209781;}
a:active{color:#209781;}
a:hover{color:#E9B64A;}

h1{
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 0;
}

p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
  letter-spacing:2px;
}

.board{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Card{
  width: 125px;
  height: 125px;
  display: inline-block;
  margin: 3px;
  background-image: url("./karta.png");
  border: 4px solid #209781;
  border-radius: 4px;
  cursor: pointer;
  filter: brightness(70%);
  transition: all 0.3s ease-in-out;
}

.Card:hover{
  border:4px solid #E9B64A;
  filter: brightness(100%);
}

.score{
  margin-top: 5px;
  letter-spacing: 2px;
}

.page-header {background:#ccc;margin:0;}

.profile-head { width:100%;background-color: rgb(65, 105, 255);float: left;padding: 15px 5px;border-radius: 30px;}
.profile-head img { height:180px; width:180px; margin:0 auto; border:5px solid #fff; border-radius:5px;}
.profile-head h5 {width: 100%;padding:5px 5px 0px 5px;text-align:justify;font-weight: bold;color: #fff;font-size: 25px;text-transform:capitalize;
  margin-bottom: 0;}
.profile-head p {width: 100%;text-align: justify;padding:0px 5px 5px 5px;color: #fff;font-size:17px;text-transform:capitalize;margin:0;}
.profile-head a {width: 100%;text-align: center;padding: 10px 5px;color: #fff;font-size: 15px;text-transform: capitalize;}

.profile-head ul { list-style:none;padding: 0;}
.profile-head ul li { display:block; color:#ffffff;padding:5px;font-weight: 400;font-size: 15px;}
.profile-head ul li:hover span { color:rgb(0, 4, 51);}
.profile-head ul li span { color:#ffffff;padding-right: 10px;}
.profile-head ul li a { color:#ffffff;}
.profile-head h6 {width: 100%;text-align: center;font-weight: 100;color: #fff;font-size: 15px;text-transform: uppercase;margin-bottom: 0;}


.nav-tabs {margin: 0;padding: 0;border: 0;}
.nav-tabs > li > a {background: #DADADA;border-radius: 0;
  box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {background: #F5F5F5;
  box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);}
.tab-pane {background: #ffffff;box-shadow: 0 0 4px rgba(0,0,0,.4);border-radius: 0;text-align: center;padding: 10px;}
.tab-content>.active {margin-top:50px;/*width:100% !important;*/}

/* edit profile css*/

.hve-pro {    background-color:rgb(255, 102, 0);padding: 5px; width:100%; height:auto;float:left;}
.hve-pro p {float: left;color:#fff;font-size: 15px;text-transform: capitalize;padding: 5px 20px;font-family: 'Noto Sans', sans-serif;}
h2.register { padding:10px 25px; text-transform:capitalize;font-size: 25px;color: rgb(255, 102, 0);}
.fom-main { overflow:hidden;}

legend {font-family: 'Bitter', serif;color:#ff3200;border-bottom:0px solid;}
.main_form {background-color:#5bc0de;}
label.control-label {font-family: 'Noto Sans', sans-serif;font-weight: 100; margin-bottom:5px !important;
  text-align:left !important; text-transform:uppercase; color:#798288;}
.submit-button {color: #fff;background-color:rgb(255, 102, 0);width:190px;border: 0px solid;border-radius: 0px; transition:all ease 0.3s;margin: 5px;
  float:left;}
.submit-button:hover, .submit-button:focus {color: #fff;background-color:rgb(0, 4, 51);}
.edit-button {color: #fff;background-color:rgb(255, 102, 0);width:190px;border: 0px solid;border-radius: 0px; transition:all ease 0.3s;margin: 5px;
  float:left;}
.edit-button:hover, .submit-button:focus {color: #fff;background-color:rgb(0, 4, 51);}
.hint_icon {color:#ff3200;}
.form-control:focus {border-color: #ff3200;}
select.selectpicker { color:#99999c;}
select.selectpicker option { color:#000 !important;}
select.selectpicker option:first-child { color:#99999c;}
.input-group { width:100%;}
.uplod-picture {width: 100%; background-color:#5bc0de;color: #fff; padding:20px 10px;margin-bottom:10px;}
.uplod-file {position: relative;overflow: hidden;color: #fff;background-color: rgb(0, 4, 51);border: 0px solid #a02e09;border-radius: 0px;
  transition:all ease 0.3s;margin: 5px;}
.uplod-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;
  filter: alpha(opacity=0);opacity: 0;outline: none;background: white;cursor: inherit;display: block;}
.uplod-file:hover, .uplod-file:focus {color: #fff;background-color:rgb(255, 102, 0);}
h4.pro-title { font-size:24px; color:rgba(0, 4, 51, 0.96); text-transform:capitalize; text-align:justify;padding: 10px 15px;font-family: 'Bitter', serif;}
.bio-table { width:75%;border:0px solid;}
.bio-table td {text-transform: capitalize;text-align: left;font-size: 15px;}
.bio-table>tbody>tr>td { border:0px solid;text-transform: capitalize;color: rgb(0, 4, 51); font-size:15px;}
.responsiv-table { border:0px solid;}
.nav-menu li a {margin: 5px 5px 5px 5px;position: relative;display: block;padding: 10px 50px;border: 0px solid !important;box-shadow: none !important;
  background-color: rgb(0, 4, 51) !important;color: #fff !important;    white-space: nowrap;}
.nav-menu li.active a {background-color: rgb(255, 102, 0) !important;}
.stick{position:fixed !important;top:0;z-index:999 !important;width:100%;background:#ffffff !important;height:auto; transition:all ease 0.8s;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);}
.stick a { line-height:20px !important;}
.stick img { margin:0 !important;}



@media all and (max-width:768px){

  .navbar-inverse .drop_menu {display: block;visibility: visible;width: 110px;height:1000px;padding:0px 20px;position: absolute;right:-100px;
    transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;}
  .navbar-brand {padding: 0;margin-left: 10px !important;}
  a.menu { display:block !important;margin: 9px 2px;float: right;color: rgba(255, 102, 0, 0.98); border:0px solid; background:none; font-size:30px;width:27px;position: relative;
    cursor:pointer;}
  a.menu:hover, a.menu:focus { color:rgb(0, 4, 51);}

  .drop_menu1 { display: block;visibility: visible;width:250px;height:1000px;padding:5px 30px;position: absolute;right:0 !important;
    background-color:#ffffff !important; transition:all ease 0.5s;border-top: 0px solid;cursor: pointer;}

}

@media all and (max-width:430px){
  .profile-head ul li {font-size: 12px !important;}
  .nav-menu li { width:50%;}
  .bio-table>tbody>tr>td {font-size: 13px;}

}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.menu_title {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  margin: 0 5px;
}

